.header-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 450px;
  border-radius: 34px;
  gap: 8px;
}

.search-pill {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px 12px 20px;
  width: 100%;
  max-width: 333px;
  flex: 1;
  height: 56px;
  box-sizing: border-box;
  border-radius: 36px;
  opacity: 1;
  background: #1e1e1e;
}

#search-icon {
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
}

.search-input {
  color: var(--color-text-placeholder);
  flex-shrink: 0;
  background: none;
  border: none;
  outline: none;
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-size: var(--fs-search-input);
  font-weight: 400;
  width: 100%;
  /* width: 175; */
  height: 22px;
  font-style: Regular;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-input::placeholder {
  color: var(--color-text-placeholder);
}

.theme-toggle {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  color: var(--color-text-secondary);
  cursor: pointer;
  box-sizing: border-box;
  width: 104px;
  height: 56px;
  border-radius: 34px;
  padding-left: 16px;
  gap: 8px;
  margin-left: 10px;
  background-color: #1e1e1e;
  flex-shrink: 0;
}

#light-theme {
  width: 24px;
  height: 24px;
  top: 16px;
  left: 64px;
  border-radius: 24px;
}

#dark-theme{
  width: auto;
  height: 56px;
}

.app-topbar {
  flex-wrap: wrap;
  gap: 16px;
}

@media (max-width: 480px) {
  .header-bar { max-width: 100%; }
  .search-pill { max-width: 100%; }
  .theme-toggle { margin-left: 0; }
}