.app {
  min-height: 100vh;
  display: flex;
  gap: 24px;
  padding: 32px;
}

.app-main {
  flex: 1;
}

.app-topbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 50px;
  margin-bottom: 32px;
}

.name-of-person{
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

.app-greeting {
  color: var(--color-text-primary);
  font-family: var(--font-main);
  font-weight: 600;
  font-size: 20px;
  margin: 0;
}