@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-bg-card: #1E1E1E;         /* black-800 */
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #B9B9B9;  /* black-100 */
  --color-text-displaycard: #272727;
  --color-text-placeholder: #5E5E5E;/* black-400 */
  --color-text-status: #363636;

  --font-main: 'Inter', sans-serif;
  --fs-location: 18px;        /*weight 400 - "Dhaka, Bangladesh" */
  --fs-day-name: 36px;       /* weight 500 — "Sunday" */
  --fs-date: 16px;           /* weight 400 — "04 Aug,2024" */
  --fs-condition: 20px;      /* weight 500 — "Heavy Rain" */
  --fs-feelslike: 16px;      /* weight 400 - "Feels like 31"*/
  --fs-temp-secondary: 24px; /* weight 500 — "/24°C" */
  --fs-todays-highlight: 24px; /* weight 600 - "Today’s Highlight" */
  --fs-country-name: 14px;   /* weight 400 — "Australia" */
  --fs-forecast-day: 14px;   /* weight 500 — "Today", "Mon"... */
  --fs-forecast-temp: 18px;  /* weight 500 — "28°C" in forecast cards */
  --fs-search-input: 18px;   /* weight 400 — placeholder text */
  --fs-others-title: 24px;    /* weight 600 — "Others Countries" */
  --fs-see-all: 16px;         /* weight 600 — "See all" */
  --fs-city-name: 24px;       /* weight 400 — "Canberra", "Tokyo" */
  --fs-weather-desc: 14px;    /* weight 500 — "Sunny", "Mostly Sunny" */
  --fs-country-temp: 24px;    /* weight 600 — "32°" */
  --fs-country-temp-sub: 18px;/* weight 400 — "/24°" */
  --fs-highlight-label: 16px;  /* weight 500 — "Wind Status","Humidity","UV Index","Visibility","Sunrise","Sunset" */
  --fs-highlight-unit: 14px;   /* weight 600 — unit spans e.g. "km/h", "%", "UV", "km" */
  --fs-highlight-detail: 14px; /* weight 400 — "9:00 AM", "Humidity is good", "Moderate UV" */
  --radius-card: 36px;
}

body{
  margin: 0;
  min-height: 100vh;
  background-image: url("./assets/images/rainy_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}